/* global */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* header */
header {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px 0;
  border-bottom: 3px solid #ff6600;
}
h1 {
  text-align: center;
  margin: 0;
}

/* navigation */
nav {
  background: white;
  padding: 10px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
nav ul { 
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}
nav li {  
  padding: 10px 25px;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s ease;
  border: 1px solid transparent;
}
nav li:hover { 
  background: #ffae42;
  color: white;
  transform: translateY(-3px);
}
/* page active et equipe active*/
.page { display: none; }
.page.active { display: block; }
.equipe-active {
    display:block;
}
.equipe{display:none;}
/* Titre*/
h2 {
  border-left: 5px solid #ff6600;
  padding-left: 8px;
  color: #ff6600;
  margin: 20px 0 10px 0;
}

/* aside */
aside ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
aside li {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background: #eee;
  margin: 5px;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid #ddd;
}
aside li:hover {
  background: #ffae42;
  color: white;
  transform: translateY(-3px);
}

/* --- CONTAINER --- */
.container {
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

/* image+canvas */
canvas, img {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
img {
  width: 130px;
  height: auto;
  object-fit: contain;
  transition: 0.3s ease;
}
img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 12px;
  font-size: 14px;
  border-top: 3px solid #ff6600;
}
/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 98%;
        gap: 15px;
    }
    
    canvas {
        max-width: 90%;
    }
    
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        gap: 10px;
    }
    
    canvas {
        max-width: 100%;
        margin: 5px;
    }
}